header {
    background-color: #2e1a47;
    color: #fff;
    text-align: center;
    padding: 30px;
}

body {
    font-family: times new roman, georgia;
    margin: 0;
    padding: 10;
    background-color: #5f9ea0;
}

h1 {
    margin: 0;
    font-size: 75px;
    padding: 20px 20px;
}

p1 {
    font-size: 60px;
    padding: 40px;
    text-indent: 1em;
    margin-bottom: 1em;
    position: absolute;
    top: 500px;
    right: 40%;
}

p2 {
    font-size: 60px;
    padding: 90px;
    text-indent: 1em;
    margin-bottom: 1em;
    position: absolute;
    top: 900px;
    right: 40%;
}

.navbar a {
	font-size: 80px;
	color: #fff;
	text-align: left;
	text-decoration: none;
	font-weight: 500;
	margin-left: 10px;
	padding: 50px;
        top: 10px;
}

.navbar a:hover,
.navbar a.active {
	color: #D34DAD;
}

section {
    align-items: center;
    max-width: 60%;
    max-height: 300px;
    margin: 50px 50px;
    padding: 50px 0px;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}    

h2 {
    font-size: 70px;
    text-decoration-color: #fff;
    margin-bottom: 20px;
    text-align: right;
    position: absolute;
    top: 900px;
    right: 75px;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    flex: 1;
    padding: 10px;
    border: 1px solid #800000;
    margin: 10px;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: left;
	max-width: 500px;
	height: 500px;
	position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
	overflow: hidden;
	background: #566d7e;
	border-radius: 100%;
	border: 25px solid #fff;

}


img {
    max-width: 750px;
    max-height: 750px;
}

@keyframes animation {
	0%,95%,100% {
		background-position: -410px 0;
	}
	65%,85% {
		background-position: 0 0;
	}
}

.home-content p {
	font-size: 50px;
	margin-top: 20px;
	text-decoration: none;
	text-align: left;
	text-indent: 2.5em;
}



.home-sci{
	margin: 25px 0 25px;
}

.home-sci a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	margin: 50px;
	background: #fff;
	border: 5px solid #fff;
	border-radius: 200%;
	font-size: 75px;
	color: #513b1c;
	text-decoration: none;
	transition: .5s;
	margin-bottom: 0px;
        
}

.home-sci a:hover {
	background: hsl(120, 60%, 56%);
	color: #513b1c;
	border-color: hsl(120, 60%, 56%);
	box-shadow: 0 0 10px hsl(120, 60%, 56%);
 
}

.btn {
	padding: 100px 100px;
	background: #fff;
	border-radius: 70px;
	font-size: 20px;
	color: #00abf0;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 7px;
	box-shadow: 0 0 18px #0076F0;
	transition: .5s;
}

.btn:hover {
	box-shadow: none;
}

h3 {
    font-size: 90px;
    text-decoration-color: #fff;
    margin-bottom: 40px;
    text-align: center;
    position: absolute;
    top: 300px;
    
}

h4 {
    font-size: 90px;
    text-decoration-color: #fff;
    margin-bottom: 30px;
    text-align: center;
    position: absolute;
    top: 750px;
    
}

h5 {
    font-size: 70px;
    text-decoration-color: #fff;
    margin-bottom: 20px;
    text-align: right;
    position: absolute;
    top: 0px;
    right: 0px;
}

